### Fill N.A for sample weather data set

In [32]:
import pandas as pd
df = pd.read_csv("./fillna_data/weather_jan.csv")
df

,"Weather Data Set, January 2019",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Date,High Temperature,Low Temperature,Wind Speed,Precipitation
1,1/1/19,23,-1,6,none
2,1/2/19,20,-3,6.5,none
3,1/5/19,NaN,NaN,n.a.,n.a.
4,1/6/19,15,0,4,none
5,1/7/19,18,-4,5.7,sleet
6,1/8/19,20,-2,3,snow
7,1/9/19,12,-2,2,snow
8,1/10/19,22,-2,NaN,n.a.
9,1/11/19,15,-9,NaN,n.a.
10,1/12/19,13,NaN,9.7,sleet
11,1/13/19,30,0,6,snow
12,1/14/19,32,-4,n.a.,none
13,1/15/19,30,-2,4,none
14,1/16/19,n.a.,-1,5.7,none
15,1/17/19,NaN,NaN,NaN,NaN
16,1/18/19,32,-4,2,n.a.
17,1/19/19,30,-2,NaN,NaN
18,1/20/19,n.a.,-1,NaN,snow
19,1/21/19,22,-2,9.7,n.a.
20,1/22/19,15,-9,6,none
21,1/23/19,13,NaN,-1,none
22,1/24/19,18,0,0,snow
23,1/25/19,NaN,-4,1,snow
24,1/26/19,30,-2,NaN,snow
25,1/27/19,15,-9,n.a.,NaN
26,1/28/19,13,n.a.,5.7,none
27,1/29/19,26,0,3,none
28,1/30/19,21,-4,2,n.a.
29,1/31/19,30,-2,0,n.a.

In [33]:
df = pd.read_csv("./fillna_data/weather_jan.csv", header=1)
df

       Date High Temperature Low Temperature Wind Speed Precipitation
0    1/1/19               23              -1          6          none
1    1/2/19               20              -3        6.5          none
2    1/5/19              NaN             NaN       n.a.          n.a.
3    1/6/19               15               0          4          none
4    1/7/19               18              -4        5.7         sleet
5    1/8/19               20              -2          3          snow
6    1/9/19               12              -2          2          snow
7   1/10/19               22              -2        NaN          n.a.
8   1/11/19               15              -9        NaN          n.a.
9   1/12/19               13             NaN        9.7         sleet
10  1/13/19               30               0          6          snow
11  1/14/19               32              -4       n.a.          none
12  1/15/19               30              -2          4          none
13  1/16/19             n.a.              -1        5.7          none
14  1/17/19              NaN             NaN        NaN           NaN
15  1/18/19               32              -4          2          n.a.
16  1/19/19               30              -2        NaN           NaN
17  1/20/19             n.a.              -1        NaN          snow
18  1/21/19               22              -2        9.7          n.a.
19  1/22/19               15              -9          6          none
20  1/23/19               13             NaN         -1          none
21  1/24/19               18               0          0          snow
22  1/25/19              NaN              -4          1          snow
23  1/26/19               30              -2        NaN          snow
24  1/27/19               15              -9       n.a.           NaN
25  1/28/19               13            n.a.        5.7          none
26  1/29/19               26               0          3          none
27  1/30/19               21              -4          2          n.a.
28  1/31/19               30              -2          0          n.a.

In [34]:
type(df.Date)

pandas.core.series.Series

In [35]:
type(df.Date[0])

str

### convert "Date" from string type to Timestamp

In [36]:
df = pd.read_csv("./fillna_data/weather_jan.csv", header=1, parse_dates=["Date"])
df

         Date High Temperature Low Temperature Wind Speed Precipitation
0  2019-01-01               23              -1          6          none
1  2019-01-02               20              -3        6.5          none
2  2019-01-05              NaN             NaN       n.a.          n.a.
3  2019-01-06               15               0          4          none
4  2019-01-07               18              -4        5.7         sleet
5  2019-01-08               20              -2          3          snow
6  2019-01-09               12              -2          2          snow
7  2019-01-10               22              -2        NaN          n.a.
8  2019-01-11               15              -9        NaN          n.a.
9  2019-01-12               13             NaN        9.7         sleet
10 2019-01-13               30               0          6          snow
11 2019-01-14               32              -4       n.a.          none
12 2019-01-15               30              -2          4          none
13 2019-01-16             n.a.              -1        5.7          none
14 2019-01-17              NaN             NaN        NaN           NaN
15 2019-01-18               32              -4          2          n.a.
16 2019-01-19               30              -2        NaN           NaN
17 2019-01-20             n.a.              -1        NaN          snow
18 2019-01-21               22              -2        9.7          n.a.
19 2019-01-22               15              -9          6          none
20 2019-01-23               13             NaN         -1          none
21 2019-01-24               18               0          0          snow
22 2019-01-25              NaN              -4          1          snow
23 2019-01-26               30              -2        NaN          snow
24 2019-01-27               15              -9       n.a.           NaN
25 2019-01-28               13            n.a.        5.7          none
26 2019-01-29               26               0          3          none
27 2019-01-30               21              -4          2          n.a.
28 2019-01-31               30              -2          0          n.a.

In [37]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

### set "Date" as index

In [38]:
df.set_index('Date', inplace=True)
df

           High Temperature Low Temperature Wind Speed Precipitation
Date
2019-01-01               23              -1          6          none
2019-01-02               20              -3        6.5          none
2019-01-05              NaN             NaN       n.a.          n.a.
2019-01-06               15               0          4          none
2019-01-07               18              -4        5.7         sleet
2019-01-08               20              -2          3          snow
2019-01-09               12              -2          2          snow
2019-01-10               22              -2        NaN          n.a.
2019-01-11               15              -9        NaN          n.a.
2019-01-12               13             NaN        9.7         sleet
2019-01-13               30               0          6          snow
2019-01-14               32              -4       n.a.          none
2019-01-15               30              -2          4          none
2019-01-16             n.a.              -1        5.7          none
2019-01-17              NaN             NaN        NaN           NaN
2019-01-18               32              -4          2          n.a.
2019-01-19               30              -2        NaN           NaN
2019-01-20             n.a.              -1        NaN          snow
2019-01-21               22              -2        9.7          n.a.
2019-01-22               15              -9          6          none
2019-01-23               13             NaN         -1          none
2019-01-24               18               0          0          snow
2019-01-25              NaN              -4          1          snow
2019-01-26               30              -2        NaN          snow
2019-01-27               15              -9       n.a.           NaN
2019-01-28               13            n.a.        5.7          none
2019-01-29               26               0          3          none
2019-01-30               21              -4          2          n.a.
2019-01-31               30              -2          0          n.a.

There is an invalid value (negative) in the Wind Speed column. it would make better sense to change it to na_values

In [52]:
df1 = pd.read_csv("./fillna_data/weather_jan.csv", header=1, parse_dates=["Date"], na_values={'Wind Speed': -1})
df1.set_index('Date', inplace=True)
df1

           High Temperature Low Temperature Wind Speed Precipitation
Date
2019-01-01               23              -1          6          none
2019-01-02               20              -3        6.5          none
2019-01-05              NaN             NaN       n.a.          n.a.
2019-01-06               15               0          4          none
2019-01-07               18              -4        5.7         sleet
2019-01-08               20              -2          3          snow
2019-01-09               12              -2          2          snow
2019-01-10               22              -2        NaN          n.a.
2019-01-11               15              -9        NaN          n.a.
2019-01-12               13             NaN        9.7         sleet
2019-01-13               30               0          6          snow
2019-01-14               32              -4       n.a.          none
2019-01-15               30              -2          4          none
2019-01-16             n.a.              -1        5.7          none
2019-01-17              NaN             NaN        NaN           NaN
2019-01-18               32              -4          2          n.a.
2019-01-19               30              -2        NaN           NaN
2019-01-20             n.a.              -1        NaN          snow
2019-01-21               22              -2        9.7          n.a.
2019-01-22               15              -9          6          none
2019-01-23               13             NaN        NaN          none
2019-01-24               18               0          0          snow
2019-01-25              NaN              -4          1          snow
2019-01-26               30              -2        NaN          snow
2019-01-27               15              -9       n.a.           NaN
2019-01-28               13            n.a.        5.7          none
2019-01-29               26               0          3          none
2019-01-30               21              -4          2          n.a.
2019-01-31               30              -2          0          n.a.

In [53]:
df2 = df1.fillna(0)
df2

           High Temperature Low Temperature Wind Speed Precipitation
Date
2019-01-01               23              -1          6          none
2019-01-02               20              -3        6.5          none
2019-01-05                0               0       n.a.          n.a.
2019-01-06               15               0          4          none
2019-01-07               18              -4        5.7         sleet
2019-01-08               20              -2          3          snow
2019-01-09               12              -2          2          snow
2019-01-10               22              -2          0          n.a.
2019-01-11               15              -9          0          n.a.
2019-01-12               13               0        9.7         sleet
2019-01-13               30               0          6          snow
2019-01-14               32              -4       n.a.          none
2019-01-15               30              -2          4          none
2019-01-16             n.a.              -1        5.7          none
2019-01-17                0               0          0             0
2019-01-18               32              -4          2          n.a.
2019-01-19               30              -2          0             0
2019-01-20             n.a.              -1          0          snow
2019-01-21               22              -2        9.7          n.a.
2019-01-22               15              -9          6          none
2019-01-23               13               0          0          none
2019-01-24               18               0          0          snow
2019-01-25                0              -4          1          snow
2019-01-26               30              -2          0          snow
2019-01-27               15              -9       n.a.             0
2019-01-28               13            n.a.        5.7          none
2019-01-29               26               0          3          none
2019-01-30               21              -4          2          n.a.
2019-01-31               30              -2          0          n.a.

#### it can be seen from above that fillna() function only fills the empty fileds, but not the fields having values as n.a. Hence it needs to convert the fields with value 'n.a.' to 'na_values' (NaN)

In [58]:
df3 = pd.read_csv("./fillna_data/weather_jan.csv", header=1, parse_dates=["Date"], na_values={'High Temperature':'n.a.','Low Temperature':'n.a.','Wind Speed':['n.a.', -1], 'Precipitation':'n.a.'})
df3.set_index('Date', inplace=True)
df3

            High Temperature  Low Temperature  Wind Speed Precipitation
Date
2019-01-01              23.0             -1.0         6.0          none
2019-01-02              20.0             -3.0         6.5          none
2019-01-05               NaN              NaN         NaN           NaN
2019-01-06              15.0              0.0         4.0          none
2019-01-07              18.0             -4.0         5.7         sleet
2019-01-08              20.0             -2.0         3.0          snow
2019-01-09              12.0             -2.0         2.0          snow
2019-01-10              22.0             -2.0         NaN           NaN
2019-01-11              15.0             -9.0         NaN           NaN
2019-01-12              13.0              NaN         9.7         sleet
2019-01-13              30.0              0.0         6.0          snow
2019-01-14              32.0             -4.0         NaN          none
2019-01-15              30.0             -2.0         4.0          none
2019-01-16               NaN             -1.0         5.7          none
2019-01-17               NaN              NaN         NaN           NaN
2019-01-18              32.0             -4.0         2.0           NaN
2019-01-19              30.0             -2.0         NaN           NaN
2019-01-20               NaN             -1.0         NaN          snow
2019-01-21              22.0             -2.0         9.7           NaN
2019-01-22              15.0             -9.0         6.0          none
2019-01-23              13.0              NaN         NaN          none
2019-01-24              18.0              0.0         0.0          snow
2019-01-25               NaN             -4.0         1.0          snow
2019-01-26              30.0             -2.0         NaN          snow
2019-01-27              15.0             -9.0         NaN           NaN
2019-01-28              13.0              NaN         5.7          none
2019-01-29              26.0              0.0         3.0          none
2019-01-30              21.0             -4.0         2.0           NaN
2019-01-31              30.0             -2.0         0.0           NaN

#### Note the difference between none and NaN for precipitation. 'none' means no precipitation, 'NaN' means info not available

### the foward fill method "ffill" is used below, by which the NA fields copy the value in the cell above. backward fill method "bfill" can also be used

In [61]:
df4 = df3.fillna(method="ffill")
df4

            High Temperature  Low Temperature  Wind Speed Precipitation
Date
2019-01-01              23.0             -1.0         6.0          none
2019-01-02              20.0             -3.0         6.5          none
2019-01-05              20.0             -3.0         6.5          none
2019-01-06              15.0              0.0         4.0          none
2019-01-07              18.0             -4.0         5.7         sleet
2019-01-08              20.0             -2.0         3.0          snow
2019-01-09              12.0             -2.0         2.0          snow
2019-01-10              22.0             -2.0         2.0          snow
2019-01-11              15.0             -9.0         2.0          snow
2019-01-12              13.0             -9.0         9.7         sleet
2019-01-13              30.0              0.0         6.0          snow
2019-01-14              32.0             -4.0         6.0          none
2019-01-15              30.0             -2.0         4.0          none
2019-01-16              30.0             -1.0         5.7          none
2019-01-17              30.0             -1.0         5.7          none
2019-01-18              32.0             -4.0         2.0          none
2019-01-19              30.0             -2.0         2.0          none
2019-01-20              30.0             -1.0         2.0          snow
2019-01-21              22.0             -2.0         9.7          snow
2019-01-22              15.0             -9.0         6.0          none
2019-01-23              13.0             -9.0         6.0          none
2019-01-24              18.0              0.0         0.0          snow
2019-01-25              18.0             -4.0         1.0          snow
2019-01-26              30.0             -2.0         1.0          snow
2019-01-27              15.0             -9.0         1.0          snow
2019-01-28              13.0             -9.0         5.7          none
2019-01-29              26.0              0.0         3.0          none
2019-01-30              21.0             -4.0         2.0          none
2019-01-31              30.0             -2.0         0.0          none

In [62]:
df5 = df3.fillna(method="bfill")
df5

            High Temperature  Low Temperature  Wind Speed Precipitation
Date
2019-01-01              23.0             -1.0         6.0          none
2019-01-02              20.0             -3.0         6.5          none
2019-01-05              15.0              0.0         4.0          none
2019-01-06              15.0              0.0         4.0          none
2019-01-07              18.0             -4.0         5.7         sleet
2019-01-08              20.0             -2.0         3.0          snow
2019-01-09              12.0             -2.0         2.0          snow
2019-01-10              22.0             -2.0         9.7         sleet
2019-01-11              15.0             -9.0         9.7         sleet
2019-01-12              13.0              0.0         9.7         sleet
2019-01-13              30.0              0.0         6.0          snow
2019-01-14              32.0             -4.0         4.0          none
2019-01-15              30.0             -2.0         4.0          none
2019-01-16              32.0             -1.0         5.7          none
2019-01-17              32.0             -4.0         2.0          snow
2019-01-18              32.0             -4.0         2.0          snow
2019-01-19              30.0             -2.0         9.7          snow
2019-01-20              22.0             -1.0         9.7          snow
2019-01-21              22.0             -2.0         9.7          none
2019-01-22              15.0             -9.0         6.0          none
2019-01-23              13.0              0.0         0.0          none
2019-01-24              18.0              0.0         0.0          snow
2019-01-25              30.0             -4.0         1.0          snow
2019-01-26              30.0             -2.0         5.7          snow
2019-01-27              15.0             -9.0         5.7          none
2019-01-28              13.0              0.0         5.7          none
2019-01-29              26.0              0.0         3.0          none
2019-01-30              21.0             -4.0         2.0           NaN
2019-01-31              30.0             -2.0         0.0           NaN

#### In this case, backforward fill leaves 2 NaN unfilled. forward fill could be a better option

 Other fill method such as interpolate() can be an option to choose, espeially considering there are bigger gaps between certain days, e.g., 1/2 and 1/5.

In [67]:
df6 = df3.interpolate()
df6

            High Temperature  Low Temperature  Wind Speed Precipitation
Date
2019-01-01         23.000000             -1.0    6.000000          none
2019-01-02         20.000000             -3.0    6.500000          none
2019-01-05         17.500000             -1.5    5.250000           NaN
2019-01-06         15.000000              0.0    4.000000          none
2019-01-07         18.000000             -4.0    5.700000         sleet
2019-01-08         20.000000             -2.0    3.000000          snow
2019-01-09         12.000000             -2.0    2.000000          snow
2019-01-10         22.000000             -2.0    4.566667           NaN
2019-01-11         15.000000             -9.0    7.133333           NaN
2019-01-12         13.000000             -4.5    9.700000         sleet
2019-01-13         30.000000              0.0    6.000000          snow
2019-01-14         32.000000             -4.0    5.000000          none
2019-01-15         30.000000             -2.0    4.000000          none
2019-01-16         30.666667             -1.0    5.700000          none
2019-01-17         31.333333             -2.5    3.850000           NaN
2019-01-18         32.000000             -4.0    2.000000           NaN
2019-01-19         30.000000             -2.0    4.566667           NaN
2019-01-20         26.000000             -1.0    7.133333          snow
2019-01-21         22.000000             -2.0    9.700000           NaN
2019-01-22         15.000000             -9.0    6.000000          none
2019-01-23         13.000000             -4.5    3.000000          none
2019-01-24         18.000000              0.0    0.000000          snow
2019-01-25         24.000000             -4.0    1.000000          snow
2019-01-26         30.000000             -2.0    2.566667          snow
2019-01-27         15.000000             -9.0    4.133333           NaN
2019-01-28         13.000000             -4.5    5.700000          none
2019-01-29         26.000000              0.0    3.000000          none
2019-01-30         21.000000             -4.0    2.000000           NaN
2019-01-31         30.000000             -2.0    0.000000           NaN

In [68]:
df7 = df3.interpolate(method='time')
df7

            High Temperature  Low Temperature  Wind Speed Precipitation
Date
2019-01-01         23.000000            -1.00    6.000000          none
2019-01-02         20.000000            -3.00    6.500000          none
2019-01-05         16.250000            -0.75    4.625000           NaN
2019-01-06         15.000000             0.00    4.000000          none
2019-01-07         18.000000            -4.00    5.700000         sleet
2019-01-08         20.000000            -2.00    3.000000          snow
2019-01-09         12.000000            -2.00    2.000000          snow
2019-01-10         22.000000            -2.00    4.566667           NaN
2019-01-11         15.000000            -9.00    7.133333           NaN
2019-01-12         13.000000            -4.50    9.700000         sleet
2019-01-13         30.000000             0.00    6.000000          snow
2019-01-14         32.000000            -4.00    5.000000          none
2019-01-15         30.000000            -2.00    4.000000          none
2019-01-16         30.666667            -1.00    5.700000          none
2019-01-17         31.333333            -2.50    3.850000           NaN
2019-01-18         32.000000            -4.00    2.000000           NaN
2019-01-19         30.000000            -2.00    4.566667           NaN
2019-01-20         26.000000            -1.00    7.133333          snow
2019-01-21         22.000000            -2.00    9.700000           NaN
2019-01-22         15.000000            -9.00    6.000000          none
2019-01-23         13.000000            -4.50    3.000000          none
2019-01-24         18.000000             0.00    0.000000          snow
2019-01-25         24.000000            -4.00    1.000000          snow
2019-01-26         30.000000            -2.00    2.566667          snow
2019-01-27         15.000000            -9.00    4.133333           NaN
2019-01-28         13.000000            -4.50    5.700000          none
2019-01-29         26.000000             0.00    3.000000          none
2019-01-30         21.000000            -4.00    2.000000           NaN
2019-01-31         30.000000            -2.00    0.000000           NaN

Note that the NaN's in 'Precipitation' column cannot be filled with the interpolate method. For machine learning purpose, these values need to be converted to numerical values to represent each of its catogory. interpolate method is not a proper way to fill the NA's for these types of data even after they are converted to numerical values. This topic will be discussed in other Jupyter notebook sessions.